@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sh-identifier: #354150;
    --sh-keyword: #f47067;
    --sh-string: #00a99a;
    --sh-class: #89ddfa;
    --sh-property: #4e8fdf;
    --sh-entity: #6eafad;
    --sh-jsxliterals: #bf7db6;
    --sh-sign: #8996a3;
    --sh-comment: #a19595;
  }
  .dark {
    --sh-identifier: #89ddfa;
    --sh-keyword: #f47067;
    --sh-string: #0fa295;
  }

  body {
    overflow-x: hidden;
  }

  .prose pre {
    @apply overflow-x-auto rounded-lg bg-theme-gray-shade/20 px-5 py-4 text-sm;
  }

  .prose code {
    @apply rounded-lg px-1 py-0.5;
  }

  .prose pre code {
    @apply p-0 leading-3;
  }

  .prose code span {
    @apply font-proxima text-base font-medium;
  }
}

.stack-skills {
  @apply !m-0 !p-0 font-proxima !text-[11px] font-bold uppercase leading-none text-white/80;
  .stack-skills > div {
    @apply !gap-x-5 !gap-y-3;
  }
  .stack-skills > div > div {
    @apply !mt-0;
  }
  .stack-skills > div > svg {
    @apply !h-5 !w-5;
  }
}
