@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --sh-identifier: #f47067;
    --sh-keyword: #f47067;
    --sh-string: #bedf5c;
    --sh-class: #89ddfa;
    --sh-property: #89ddfa;
    --sh-entity: #89ddfa;
    --sh-jsxliterals: #bf7db6;
    --sh-sign: #8996a3;
    --sh-comment: #a19595;
  }
  .dark {
    --sh-identifier: #89ddfa;
    --sh-keyword: #89ddfa;
    --sh-string: #bedf5c;
    --sh-class: #f47067;
    --sh-property: #f47067;
    --sh-entity: #f47067;
    --sh-jsxliterals: #bf7db6;
    --sh-sign: #8996a3;
    --sh-comment: #a19595;
  }

  body {
    overflow-x: hidden;
  }

  .prose pre {
    @apply overflow-x-auto rounded-lg bg-[#202020] px-5 py-4 text-sm leading-5;
  }

  .prose code {
    @apply rounded-lg px-1 py-0.5;
  }
}

.stack-skills {
  @apply !m-0 !p-0 font-proxima !text-[11px] font-bold uppercase leading-none text-white/80;
  .stack-skills > div {
    @apply !gap-x-5 !gap-y-3;
  }
  .stack-skills > div > div {
    @apply !mt-0;
  }
  .stack-skills > div > svg {
    @apply !h-5 !w-5;
  }
}
